.env
.DS_store
.venv
.mypy_cache
.idea
/deployment/data/nginx/app.conf
.vscode/launch.json
backend/o365_token.txt
backend/celerybeat-schedule.dir
backend/celerybeat-schedule.dat
backend/celerybeat-schedule.bak
backend/scripts/test_exchange_email_filters.py
