# Fill in the values and copy the contents of this file to .env in the deployment directory
# Some valid default values are provided where applicable, delete the variables which you don't set values for


# Insert your OpenAI API key here, currently the only Generative AI endpoint for QA that we support is OpenAI
OPENAI_API_KEY=

# Choose between "openai-chat-completion" and "openai-completion"
INTERNAL_MODEL_VERSION=openai-chat-completion

# Use a valid model for the choice above, consult https://platform.openai.com/docs/models/model-endpoint-compatibility
OPENAI_MODEL_VERSION=gpt-3.5-turbo


# Can leave these as defaults
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password


# Auth not necessary for local
DISABLE_AUTH=True
