apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: gp3-resize
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
provisioner: ebs.csi.aws.com
parameters:
  type: gp3
allowVolumeExpansion: true