@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

.include-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.include-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.include-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.include-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.include-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.inputscroll::-webkit-scrollbar-track {
  background: #e5e7eb;
  scrollbar-width: none;
}

::-webkit-scrollbar-track {
  background: transparent;
  /* background: theme("colors.scrollbar.track"); */
  /* Track background color */
}

/* Style the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  /* background: theme("colors.scrollbar.thumb"); */
  /* Handle color */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
  /* background: theme("colors.scrollbar.thumb-hover"); */
  /* Handle color on hover */
}

.dark-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  /* background: theme("colors.scrollbar.dark.thumb"); */
  /* Handle color */
  border-radius: 10px;
}

.dark-scrollbar::-webkit-scrollbar-thumb:hover {
  background: transparent;
  /* background: theme("colors.scrollbar.dark.thumb-hover"); */
  /* Handle color on hover */
}

::-webkit-scrollbar {
  width: 0px;
  /* Vertical scrollbar width */
  height: 8px;
  /* Horizontal scrollbar height */
}

/* Used to create alternatie to React Markdown */
.preserve-lines {
  white-space: pre-wrap;
  /* Preserves whitespace and wraps text */
}

.loading-text {
  display: inline-block;
  color: #e5e5e5;

  background: linear-gradient(
    -90deg,
    #a3a3a3 0%,
    #000000 5%,
    #a3a3a3 10%,
    #a3a3a3 100%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmerTransition 1.5s ease-out infinite;
}

@keyframes shimmerTransition {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}

.collapsible {
  max-height: 300px;
  transition:
    max-height 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  opacity: 1;
}

.collapsible-closed {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.prevent-scroll {
  overscroll-behavior-y: none;
}

body {
  overscroll-behavior-y: none;
}

/* Base styles for code blocks */
.prose :where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  background-color: black;
  font-size: small;
}

pre[class*="language-"],
code[class*="language-"] {
  color: #e0e0e0;
  background: white;
}

/* Token styles */
.code-line .token.comment,
.code-line .token.prolog,
.code-line .token.doctype,
.code-line .token.cdata {
  color: #608b4e;
}

.code-line .token.punctuation,
.code-line .token.operator,
.code-line .token.entity,
.code-line .token.url,
.code-line .language-css .token.string,
.code-line .style .token.string {
  color: #d4d4d4;
}

.code-line .token.property,
.code-line .token.tag,
.code-line .token.boolean,
.code-line .token.number,
.code-line .token.constant,
.code-line .token.symbol,
.code-line .token.deleted,
.code-line .token.tag .token.punctuation {
  color: #569cd6;
}

.code-line .token.selector,
.code-line .token.attr-name,
.code-line .token.string,
.code-line .token.char,
.code-line .token.builtin,
.code-line .token.inserted,
.code-line .token.attr-value,
.code-line .token.attr-value .token.punctuation {
  color: #ce9178;
}

.code-line .token.atrule,
.code-line .token.keyword {
  color: #c586c0;
}

.code-line .token.function,
.code-line .token.class-name {
  color: #dcdcaa;
}

.code-line .token.regex,
.code-line .token.important,
.code-line .token.variable {
  color: #9cdcfe;
}

.code-line .token.important,
.code-line .token.bold {
  font-weight: bold;
}

.code-line .token.italic {
  font-style: italic;
}

.code-line .token.entity {
  cursor: help;
}

.code-line .token.attr-name {
  color: #9cdcfe;
}
