@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --secondary: #ebeefe;
    --secondary-foreground: #ebeefe;
    --success: #69c57d;
    --success-foreground: rgba(27, 232, 72, 0.1);
    --muted: #e7e7e7;
    --muted-foreground: #8a8a8a;
    --accent: #d1d1d1;
    --accent-foreground: #000000;
    --destructive: #f16d69;
    --destructive-foreground: #f7a9a7;
    --warning: #ff9500;
    --warning-foreground: #e6b36c;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
  border: 2px solid #f1f1f1;
}

.h1-bg {
  background: linear-gradient(90deg, #000000 0%, #2039f3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

h3 {
  font-weight: 600;
}

.line-clamp {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  text-wrap: balance;
  max-width: 100%;
  overflow: hidden;
}

.loading-text {
  display: inline-block;
  color: #e5e5e5;

  background: linear-gradient(
    -90deg,
    #a3a3a3 0%,
    #000000 5%,
    #a3a3a3 10%,
    #a3a3a3 100%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmerTransition 1.5s ease-out infinite;
}

.collapsible {
  max-height: 300px;
  transition:
    max-height 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  opacity: 1;
}

.collapsible-closed {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

/* Base styles for code blocks */
.prose :where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  background-color: theme("colors.code-bg");
  font-size: theme("fontSize.code-sm");
  margin: 8px 0px !important;
  border-radius: 4px;
  overflow-y: auto;
  overflow-x: auto;
}

pre[class*="language-"] {
  color: theme("colors.code-text");
  overflow-y: auto;
  overflow-x: auto;
}

code[class*="language-"] {
  color: theme("colors.code-text");
  overflow: initial; /* Removes overflow for single-line code */
}

/* Token styles */
.code-line .token.comment,
.code-line .token.prolog,
.code-line .token.doctype,
.code-line .token.cdata {
  color: theme("colors.token-comment");
}

.code-line .token.punctuation,
.code-line .token.operator,
.code-line .token.entity,
.code-line .token.url,
.code-line .language-css .token.string,
.code-line .style .token.string {
  color: theme("colors.token-punctuation");
}

.code-line .token.property,
.code-line .token.tag,
.code-line .token.boolean,
.code-line .token.number,
.code-line .token.constant,
.code-line .token.symbol,
.code-line .token.deleted,
.code-line .token.tag .token.punctuation {
  color: theme("colors.token-property");
}

.code-line .token.selector,
.code-line .token.attr-name,
.code-line .token.string,
.code-line .token.char,
.code-line .token.builtin,
.code-line .token.inserted,
.code-line .token.attr-value,
.code-line .token.attr-value .token.punctuation {
  color: theme("colors.token-selector");
}

.code-line .token.atrule,
.code-line .token.keyword {
  color: theme("colors.token-atrule");
}

.code-line .token.function,
.code-line .token.class-name {
  color: theme("colors.token-function");
}

.code-line .token.regex,
.code-line .token.important,
.code-line .token.variable {
  color: theme("colors.token-regex");
}

.code-line .token.important,
.code-line .token.bold {
  font-weight: theme("fontWeight.token-bold");
}

.code-line .token.italic {
  font-style: theme("fontStyle.token-italic");
}

.code-line .token.entity {
  cursor: help;
}

.code-line .token.attr-name {
  color: theme("colors.token-attr-name");
}

.container {
  @apply mx-auto max-w-[1400px] px-6 lg:px-14 xl:px-10 2xl:px-24 py-24 md:py-32 lg:pt-16 bg-background;
}
