/* styles.css */

.PopoverContentMatchWidth {
  width: var(--radix-popover-trigger-width);
}

.PopoverContent[data-side="top"] {
  transform: translateY(var(--radix-popover-trigger-height) px);
  font-family: sans-serif;
}
