# DOMAIN is necessary for https setup, EMAIL is optional
DOMAIN=
EMAIL=

# If using the `no-letsencrypt` setup, the below are required.
# They specify the path within /onyx/deployment/data/sslcerts directory
# where the certificate / certificate key can be found. You can either
# name your certificate / certificate key files to follow the convention
# below or adjust these to match your naming conventions.
SSL_CERT_FILE_NAME=ssl.cert
SSL_CERT_KEY_FILE_NAME=ssl.key
