# Fill in the values and copy the contents of this file to .env in the deployment directory.
# Some valid default values are provided where applicable, delete the variables which you don't set values for.
# Only applicable when using the docker-compose.prod.yml compose file.


# Insert your OpenAI API key here, currently the only Generative AI endpoint for QA that we support is OpenAI
# If not provided here, UI will prompt on setup
GEN_AI_API_KEY=
# Choose between "openai-chat-completion" and "openai-completion"
INTERNAL_MODEL_VERSION=openai-chat-completion
# Use a valid model for the choice above, consult https://platform.openai.com/docs/models/model-endpoint-compatibility
GEN_AI_MODEL_VERSION=gpt-4

# Neccessary environment variables for Azure OpenAI:
API_BASE_OPENAI=
API_TYPE_OPENAI=
API_VERSION_OPENAI=
AZURE_DEPLOYMENT_ID=

# Could be something like danswer.companyname.com. Requires additional setup if not localhost
WEB_DOMAIN=http://localhost:3000

# If you want to make the postgres / typesense instances a little more secure, modify the below
# Note that the postgres / typesense / qdrant containers do not expose any ports to the outside world,
# so they are already unaccessible unless someone has ssh access to the machine that Danswer is running on
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
TYPESENSE_API_KEY=typesense_api_key

# Currently frontend page doesn't have basic auth, use OAuth if user auth is enabled.
ENABLE_OAUTH=True
# The two settings below are only required if ENABLE_OAUTH is true
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

# If you want to setup a slack bot to answer questions automatically in Slack 
# channels it is added to, you must specify the below. 
# More information in the guide here: https://docs.danswer.dev/slack_bot_setup
DANSWER_BOT_SLACK_APP_TOKEN=
DANSWER_BOT_SLACK_BOT_TOKEN=

# Used to generate values for security verification, use a random string
SECRET=

# How long before user needs to reauthenticate, default to 1 day. (cookie expiration time)
SESSION_EXPIRE_TIME_SECONDS=86400

# used to specify a list of allowed user domains
# e.g. `VALID_EMAIL_DOMAINS=example.com,example.org` will only allow users
# with an @example.com or an @example.org email
VALID_EMAIL_DOMAINS=

# Only relevant if using basic auth (not supported on frontend yet)
REQUIRE_EMAIL_VERIFICATION=True
# The four settings below are only required if REQUIRE_EMAIL_VERIFICATION is True
SMTP_SERVER=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
