# This env template shows how to configure Danswer for custom multimodal use of the confluence connector
# To use it, copy it to .env in the docker_compose directory (or the equivalent environment settings file for your deployment)

# Enable generation of summaries of images
CONFLUENCE_IMAGE_SUMMARIZATION_ENABLED="True"

# Optionally use custom prompts to generate summaries of images
# We recommend keeping the parameters <title>, <page_title> and especially <confluence_xml> in the user prompt
# to provide context of the images and therefore get better / more precise summaries.
# Additionally we recommend to use the main language of the provided pages in the prompts.
# System Prompt: initial instructions to the model, therefore sets the context/tone/behavior.
# default system prompt:
#       You are an assistant for summarizing images for retrieval.
#       Summarize the content of the following image and be as precise as possible.
#       The summary will be embedded and used to retrieve the original image.
#       Therefore, write a concise summary of the image that is optimized for retrieval.
#CONFLUENCE_IMAGE_SUMMARIZATION_SYSTEM_PROMPT = ""
# User Prompt: directly engages with the model to elicit a response. Represents input/query from the end user.
# default user prompt:
#        The image has the file name '{title}' and is embedded on a Confluence page with the title '{page_title}'.
#        Describe precisely and concisely what the image shows in the context of the page and what it is used for.
#        The following is the XML source text of the page:
#        {confluence_xml}
#CONFLUENCE_IMAGE_SUMMARIZATION_SYSTEM_PROMPT = ""

# If the summarization of an image fails due the indexing of the documents is restarted every x (default 30) minutes 
# if not stopped manually. To avoid this problem (and the resulting possible high costs) we highly recommend 
# setting CONTINUE_ON_CONNECTOR_FAILURE true, so the summaries for such images stay empty.
CONTINUE_ON_CONNECTOR_FAILURE = "True"
