# Fill in the values and copy the contents of this file to .env in the deployment directory.
# Some valid default values are provided where applicable, delete the variables which you don't set values for.
# This is only necessary when using the docker-compose.prod.yml compose file.


# Insert your OpenAI API key here If not provided here, UI will prompt on setup.
# This env variable takes precedence over UI settings.
GEN_AI_API_KEY=
# Choose between "openai-chat-completion" and "openai-completion"
INTERNAL_MODEL_VERSION=openai-chat-completion
# Use a valid model for the choice above, consult https://platform.openai.com/docs/models/model-endpoint-compatibility
GEN_AI_MODEL_VERSION=gpt-4

# Neccessary environment variables for Azure OpenAI:
API_BASE_OPENAI=
API_TYPE_OPENAI=
API_VERSION_OPENAI=
AZURE_DEPLOYMENT_ID=

# Could be something like danswer.companyname.com
WEB_DOMAIN=http://localhost:3000

# Default values here are what Postgres uses by default, feel free to change.
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# If you want to setup a slack bot to answer questions automatically in Slack 
# channels it is added to, you must specify the below. 
# More information in the guide here: https://docs.danswer.dev/slack_bot_setup
DANSWER_BOT_SLACK_APP_TOKEN=
DANSWER_BOT_SLACK_BOT_TOKEN=

# Used to generate values for security verification, use a random string
SECRET=

# How long before user needs to reauthenticate, default to 1 day. (cookie expiration time)
SESSION_EXPIRE_TIME_SECONDS=86400

# The following are for configuring User Authentication, supported flows are:
# disabled
# simple (email/password + user account creation in Danswer)
# google_oauth (login with google/gmail account)
# oidc (only in Danswer enterprise edition)
# saml (only in Danswer enterprise edition)
AUTH_TYPE=

# Set the two below to use with Google OAuth
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

# OpenID Connect (OIDC)
OPENID_CONFIG_URL=

# SAML config directory for OneLogin compatible setups
SAML_CONF_DIR=

# used to specify a list of allowed user domains, only checked if user Auth is turned on
# e.g. `VALID_EMAIL_DOMAINS=example.com,example.org` will only allow users
# with an @example.com or an @example.org email
VALID_EMAIL_DOMAINS=
